@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.aminated-bottom{
    animation: moveInBottom 1s ease-out 0.4s;
    animation-fill-mode: backwards;
}

/* .about-img{
    animation: moveInLeft 1s ease-out 0.4s;
} */

.about-text-div{
    animation: moveInRight 1s ease-out 0.4s;
}


.height-max {
    height: calc(100vh - 76px);
    background: url(../img/headerBcg.jpeg) center/cover fixed no-repeat;
    animation-name: zoom;
    animation-duration: 20s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    overflow: hidden;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2) translateX(-5%);
    }

    100% {
        transform: scale(1);
    }
}