
/* 
font-family: 'Kaushan Script', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;
 */

 /* :root{
    --mainYellow: #fdbe02;
    --nyanza: #D8F3DC;
    --turquoise-Green: #B7E4C7;
    --turquoise-Green-2: #95D5B2;
    --ocean-Green: #74C69D;
    --ocean-Green-2: #52B788;
    --illuminating: #40916C;
    --bottle-Green: #2D6A4F;
    --burnswick: #1B4332;
    --dark-jungle: #081C15;

    --black-Coffee: #32292F;
    --middle-Blue-Green: #99E1D9;
    --mint-Cream: #F0F7F4;
    --cadet-Blue: #70ABAF;
    --umbar: #705D56;
} */

.navbar h2{
    background: var(--gradient-color-green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 2.2rem;
    text-transform: uppercase;
}

.navbar .nav-item{
    font-size: 1.2rem;
    font-weight: 700;
}

.nav-item .nav-link{
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.7rem;
    color: var(--title-color);
}

.navbar-nav .active{
    /* background: var(--gradient-color); */
    background: var(--gradient-color-green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.navbar-nav a:hover{
    /* background: var(--gradient-color); */
    background: var(--gradient-color-green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.title-text{
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.title-text::after{
    content: "";
    height: 2px;
    width: 15vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.main-title h1{
    font-size: 4rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.main-title p{
    font-size: 1.5rem;
    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
}

.main-img{
    animation: moveInRight 1s ease-out 0.4s;
    /* animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0.4s; */
    animation-fill-mode: backwards;
}

.about-text{
    color: var(--text-color);
    font-size: 1.1rem;
    line-height: 2;
}

/* SKILLS */
.skills{
    padding: 7rem 0;
    background-image: linear-gradient(to right bottom,rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)),
    url(../image/nat-4.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    /* height: 50rem; */
}
.skills > *{
    transform: skewY(7deg);
}

.skills-box{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    margin: 2rem 0;
    text-align: center;
    transition: transform .3s;
}

.skills-box:hover{
    transform: translateY(-1.5rem) scale(1.03);
}

.skills-icon{
    font-size: 2.5rem;
    margin: 1rem 0;
    text-align: center;
}

.skills-box h4{
    margin: 0.5rem 0 1rem 0;
}

.progress{
    background-color: #939da7 !important;
}

/* Composition Photo Project */
.project-heading-link{
    text-decoration: none;
}
.composition{
    position: relative;
}
.composition__photo{
    width: 70%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    /* border-radius: 2px; */
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 1rem;
}

.composition__photo--p1{
    left: 0;
    top: -2rem;
}

.composition__photo--p2{
    right: 0;
    top: 2rem;
}

.composition__photo--p3{
    left: 10%;
    top: 7rem;
}

.composition__photo:hover{
    /* outline: 0.5rem solid var(--color-primary-green); */
    /* outline: 0.5rem solid #C7EAE4; */
    outline: 0.5rem solid rgba(0, 0, 0, 0.5);
    /* outline: 0.5rem solid rgba(132, 204, 22, 0.5); */
    transform: scale(1.35) translateY(-0.5rem);
    box-shadow: 0 2rem 3.5rem rgba(0, 0, 0, 0.5);
    z-index: 20;
}
.composition__photo__shutter__safari:hover{
    outline: 0.5rem solid rgba(132, 204, 22, 0.5);
}
.composition__photo__cars__land:hover {
    outline: 0.5rem solid rgba(64, 172, 241, 0.5);
}
.composition__photo__flaming__wings:hover {
    outline: 0.5rem solid rgba(235, 152, 78, 0.5);
}
.composition__photo__zn__en:hover {
    outline: 0.5rem solid rgba(7, 16, 19, 0.5);
}
.composition__photo__hetello:hover {
    outline: 0.5rem solid rgba(55, 6, 23, 0.5);
}
.composition__photo__comfy:hover {
    outline: 0.5rem solid rgba(253, 190, 2, 0.5);
}
.composition__photo__omni-food:hover {
    outline: 0.5rem solid rgba(230, 126, 34, 0.5);
}
.composition__photo__fylo:hover {
    outline: 0.5rem solid rgba(11, 21, 35, 0.5);
}

.composition:hover .composition__photo:not(:hover){
    transform: scale(0.95);
}

/* Contact Form */
.contact-form{
    background-image: var(--gradient-color-tertiary);
}

.form__input{
        font-family: inherit;
        color: inherit;
        padding: 0.5rem 1rem;
        border-radius: 2px;
        background-color: rgba(255, 255, 255, 0.9);
        border: none;
        border-bottom: 3px solid transparent;
        width: 100%;
        display: block;
        transition: all .3s;
}

.form__input:focus{
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid var(--color-primary-green);
}

.form__input:focus:invalid{
    border-bottom: 3px solid var(--color-secondary-dark);
}

.form__textarea{
    border-bottom: 3px solid transparent;
    width: 100%;
}

.form__label {
    font-size: 0.8rem;
    font-weight: 700;
    margin-left: 1rem;
    margin-top: 7px;
    display: block;
    transition: all 0.3s;
}

.form__input:placeholder-shown+.form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-2.4rem);
}

.form__input:placeholder-shown~.form__message {
    transform: translateY(-5.5rem);
}

/* Footer */
.footer{
    background-color: #222;
}

.footer__icon{
    font-size: 1.8rem;
    color: white;
    transition: all 0.5s;
    cursor: pointer;
}

.footer__icon:hover{
    transform: translateY(-0.5rem) scale(1.1);
    color: #2998ff;
}

.footer__link:link,
.footer__link:visited{
    /* color: whitesmoke; */
    color: #2998ff;
    background-color: #222;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s;
    cursor: pointer;
}

.footer__link:hover,
.footer__link:active{
    color: var(--color-primary-green);
    box-shadow: 0 0.7rem 1.2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3);
}